$main-color: #fff;
$main-bg-color: #333;
$main-bg-color-shadow: #33333338;

$border-color: #6f6f6f;
$secondary-border-color: #909090;

$shadow-color-light: rgba(0, 0, 0, 0.05);
$shadow-color-heavy: rgba(0, 0, 0, 0.5);

$timeline-shadow-color: rgba(0, 0, 0, 0.08);
$timeline-link:  #acb7c0;
$timeline-link-focus: #bac4cb;

$navbar-color: rgba(33, 33, 33, 0);
$navbar-color-light: rgba(33, 33, 33, 0.25);
$navbar-shadow: rgba(33, 33, 33, 0.5);

$footer-color: rgba(33, 33, 33, 0.5);

$masthead-color: rgba(255, 255, 255, 0.5);
$masthead-color-shadow:  rgba(255, 255, 255, 0.25);
